<?xml version="1.0" encoding="gbk"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">   

  <display-name></display-name>	
 
	
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/applicationContex.xml
	</param-value>
  </context-param>
  
     
      
  <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  
 


    <!-- spring filter -->
  
  <filter>
	<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
	<filter-class>
	org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
	</filter-class>
	
  </filter>
  <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
 
    <!-- struts2 filter-->
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		
  		org.apache.struts2.dispatcher.FilterDispatcher
  		
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

  
  


</web-app>