/*---  Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}
a:link              { /* Document Style */
	text-decoration :none;
	}
a:visited           { /* Document Style */
	text-decoration :none;
	}
a:hover             { /* Document Style */
	text-decoration :underline;
	}
a:active            { /* Active Links */
	color           : #ff0000;
	}
ol,ul               { /* All Lists */
	margin          : 1em;
	padding-left    : 2em;
	}
p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
a.navigation:link   {
	text-decoration :none;
	}
a.navigation:visited{
	text-decoration :none;
	}
a.navigation:hover  {
	text-decoration :underline;
	}
table.ct07          { /* Document Style */
	text-align      : center;
	border          :   0.75pt solid black;
	}
table.ct07 caption  { /* Document Style */
	color           : #000000;
	}
table.ct07 td       { /* Document Style */
	text-align      : right;
	border          :   0.75pt solid black;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct07 th       { /* Document Style */
	background-color: #c0c0c0;
	text-align      : left;
	border          :   0.75pt solid black;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct07 .ch07 th { /* Document Style */
	background-color: #c0c0c0;
	text-align      : left;
	border          :   0.75pt solid black;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
.address,address    {
	color           : #003333;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.citation,cite      {
	font            : italic 10pt 'Arial', Helvetica, sans-serif;
	}
.code,code          {
	font            : 10pt 'Courier New', monospace;
	}
.deco               {
	color           : #a1ecff;
	background-color: #a1ecff;
	}
.emphasis,em        {
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	}
.footer             {
	color           : #00ccff;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.footer_box         {
	background-color: #c0c0c0;
	}
.form_button        {
	color           : #003333;
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	background-color: #9fecff;
	}
.form_input         {
	background-color: #9fecff;
	border          :   0.75pt solid #ffffff;
	}
.form_label         {
	color           : #003333;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.form_legend        {
	color           : #000000;
	}
.form_set           {
	border          :   0.00pt none black;
	}
.header             {
	color           : #003333;
	font            : bold 20pt 'Times New Roman', Book, Georgia, serif;
	text-align      : center;
	}
.header_box         {
	background-color: #c0c0c0;
	}
.heading1,h1        {
	color           : #003333;
	font            : 28pt 'Times New Roman', Book, Georgia, serif;
	background-color: transparent;
	text-align      : center;
	}
.heading2,h2        {
	font            : 20pt 'Arial', Helvetica, sans-serif;
	}
.heading3,h3        {
	color           : #003333;
	font            : 18pt 'Times New Roman', Book, Georgia, serif;
	text-align      : center;
	}
.heading3 a         {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.heading4,h4        {
	font            : 14pt 'Arial', Helvetica, sans-serif;
	}
.heading5,h5        {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
.heading6,h6        {
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	}
.info               {
	color           : #003333;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.info_box           {
	background-color: #c0c0c0;
	}
.info_tag           {
	color           : #003333;
	font            : bold 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.item               {
	color           : #003333;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.item_box           {
	color           : #c1f2ff;
	background-color: #c1f2ff;
	}
.item_tag           {
	}
.logo               {
	color           : #c0c0c0;
	background-color: #c0c0c0;
	}
.logo_box           {
	background-color: #c0c0c0;
	}
.logo_tag           {
	}
.navigation         {
	color           : #003333;
	font            : 14pt 'Times New Roman', Book, Georgia, serif;
	background-color: transparent;
	text-align      : center;
	padding         :   1.50pt;
	}
.navigation a       {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.navigation_box     {
	background-color: #c0c0c0;
	}
.navigation_pin     {
	color           : #d8f7ff;
	font            : 14pt 'Times New Roman', Book, Georgia, serif;
	background-color: transparent;
	text-align      : center;
	padding         :   1.50pt;
	}
.navigation_tag     {
	}
.news               {
	}
.news_box           {
	background-color: #c0c0c0;
	}
.news_tag           {
	}
.page               {
	background-color: #a1ecff;
	}
.page_box           {
	color           : #59ddff;
	background-color: transparent;
	}
.page_tag           {
	color           : #003333;
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.panel              {
	color           : #000000;
	}
.panel_box          {
	background-color: #c0c0c0;
	}
.photo              {
	border          :   2.25pt solid #ffffff;
	}
.photo_box          {
	background-color: #c0c0c0;
	}
.photo_tag          {
	}
.small,small        {
	font            : 8pt 'Arial', Helvetica, sans-serif;
	}


/*--- EndOfFile ---*/
